<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
	<title>{{page.title}} | {{site.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image:width" content="279">
    <meta property="og:image:height" content="279">
    <meta property="og:title" content="Evo Automotive Solutions Ltd">
    <meta property="og:description" content="Evo Automotive Solutions Ltd  was established in 1999, specializing in Locking wheel nuts and bolts. ">
    <meta property="og:url" content="https://www.evoautomotive.co.uk">
    <meta property="og:image" content="https://www.evoautomotive.co.uk/og-image.jpg">

	<link href="{{'/assets/style.css' | relative_url}}"
          rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/068c78966b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-Qg00WFl9r0Xr6rUqNLv1ffTSSKEFFCDCKVyHZ+sVt8KuvG99nWw5RNvbhuKgif9z" crossorigin="anonymous"></script>
    
    <script src="/js/main.js"></script>
</head>
