<section class="section-ter  py-10">
      <div class="container">
          <div class="columns">
            <div class="column p-4">
                <div class="has-background-white py-12" style="border-radius: 6px;">
                <a href="https://www.bsigroup.com/en-US/iso-9001-quality-management/" title="Read more about ISO 9001 quality management on the BSI site" target="_blank"><img class="is-block mx-auto" src="/assets/logo-bsi.png" alt="BSI ISO 9001 certified logo"></a>
                </div>
            </div>
            <div class="column p-4">
                <div class="has-background-white py-12" style="border-radius: 6px;">
                <a href="https://www.achilles.com/" title="Visit Achilles auditing website" target="_blank"><img class="is-block mx-auto" src="/assets/logo-achilles.png" alt="Achilles Automotive silver logo"></a>
                </div>
            </div>
            <div class="column p-4">
                <div class="has-background-white py-12" style="border-radius: 6px;">
                <a href="https://programs.cyberreadinessinstitute.org/courses/cyber-readiness-program" title="Visit Cyber Readiness Institute website" target="_blank"><img class="is-block mx-auto" src="/assets/logo-cyber.png" alt="Cyber Readiness Program logo"></a>
                </div>
            </div>
            <div class="column p-4">
                <div class="has-background-white py-12" style="border-radius: 6px;">
                <a href="https://www.thatcham.org/" title="Open Thatcham Research website" target="_blank"><img class="is-block mx-auto" src="/assets/logo-thatcham.png" alt="Thatcham Research logo"></a>
                </div>
            </div>
        </div>
        <div class="columns is-centered">
          <div class="is-full has-text-centered">
            <p class="is-size-6">* Thatcham security certification applies to vehicle manufacturer's approved locking wheel nuts and bolts only. </p>  
          </div>
        </div>
      </div>
  </section>