
<section class="section is-medium has-text-centered has-background-black">
    <img src="/assets/evo-logo-500-rv.png" width="500" alt="Evo Automotive Solutions">
</section>
<nav class="navbar is-black">

    <div class="navbar-brand">
        <div class="navbar-item">
            
        </div>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <br>

    <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
            {% for n in site.navbar.start %}
            <a href="{{n.url | relative_url}}" class="navbar-item">
            <span>{{n.title}}</span>
            </a>
            {% endfor %}
        </div>

    </div>
</nav>

