<!-- Sticky header -->
<header class="header-outer has-background-black">
    <div class="header-inner responsive-wrapper">
      <div class="header-logo">
        <img src="/assets/evo-logo-500-rv.png" width="500" alt="Evo Automotive Solutions">
      </div>
      <!-- <nav class="header-navigation">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
        <a href="#">Contact Us</a>
        <button>Menu</button>
      </nav> -->

<!-- <section class="section pt-5 pb-5 has-text-centered has-background-black">
    <img src="/assets/evo-logo-500-rv.png" width="500" alt="Evo Automotive Solutions">
</section>
-->
<nav class="navbar is-black">

    <div class="navbar-brand">
        <div class="navbar-item">
            
        </div>
        <a class="navbar-burger" role="button" aria-label="menu" aria-expanded="false" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <br>

    <div class="navbar-menu has-text-centered" id="navMenu">
        <div class="navbar-start">
            <a href="/#products" class="navbar-item products-link">
            <span>Products</span>
            </a>
            <a href="/#aboutus" class="navbar-item about-link">
            <span>About us</span>
            </a>
            <a href="/#contactus" class="navbar-item contact-link">
            <span>Contact us</span>
            </a>
        </div>

    </div>
</nav>

</div>
</header>