<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/#products" class="navbar-item products-link">
        Products
      </a>
      <a href="/#aboutus" class="navbar-item about-link">
        About us
      </a>
      <a href="/#replacement" class="navbar-item replacement-link">
        Replacement keys
      </a>
      <a href="/#contactus" class="navbar-item contact-link">
        Contact us
      </a>

    </div>
  </div>
</nav>