<!-- Sticky header -->
<header class="has-background-black has-text-centered">

    <div class="responsive-wrapper">
        <nav class="navbar is-fixed-top header-navigation has-text-centered" role="navigation" aria-label="main-navigation">
            <div class="navbar-menu is-active columns is-mobile is-centered">
    
                <div class="column is-one-quarter">
                    <a href="/#products" class="navbar-item products-link">
                    <span>Products</span>
                    </a>
                </div>
                <div class="column is-one-quarter">
                    <a href="/#aboutus" class="navbar-item about-link">
                    <span>About us</span>
                    </a>
                </div>
                <div class="column is-one-quarter">
                    <a href="/#replacement" class="navbar-item replacement-link">
                    <span>Replacement keys</span>
                    </a>
                </div>
                <div class="column is-one-quarter">
                    <a href="/#contactus" class="navbar-item contact-link">
                    <span>Contact us</span>
                    </a>
                </div>
            </div>
        </nav>

        

    </div>

</header>