<!-- Sticky header -->
<header class="header-outer has-background-black has-text-centered">

    <div class="header-inner responsive-wrapper">
        <nav class="navbar is-fixed-top header-navigation has-text-centered" role="navigation" aria-label="main-navigation">
            <div class="navbar-menu is-active columns is-mobile is-centered">
    
                <div class="column is-one-third">
                    <a href="/#products" class="navbar-item products-link">
                    <span>Products</span>
                    </a>
                </div>
                <div class="column is-one-third">
                    <a href="/#aboutus" class="navbar-item about-link">
                    <span>About us</span>
                    </a>
                </div>
                <div  class="column is-one-third">
                    <a href="/#contactus" class="navbar-item contact-link">
                    <span>Contact us</span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="header-logo is-centered">
            <img class="is-centered" src="/assets/evo-logo-500-rv.png" width="500" alt="Evo Automotive Solutions">
        </div>

    </div>

</header>