$navbar-background-color: #000;
$navbar-item-color: #eee;
$navbar-item-hover-color: #eee;
$navbar-item-hover-background-color: #565656;
$body-family: BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$black:        hsl(0, 0%, 0%) !default;

@import "bulma";

:root {
    --header-outer-height: 450px;
    --header-mobile-outer-height: 250px;
    --header-inner-height: 200px;
    --header-height-difference: calc(
      var(--header-outer-height) - var(--header-inner-height)
    );
    --header-mobile-height-difference: calc(
      var(--header-mobile-outer-height) - var(--header-inner-height)
    );
    --header-bg: #0a0a0a;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* full screen EVO logo */
.full-screen {
    background: black;

    @include tablet {
        min-height: calc(100vh - 77px);
    }
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px 20px;
}


/* Styling of other elements */
.evoheader {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include from(960px) {
        padding-top: 3rem;
        padding-bottom: 1rem;
        
    }
    .title {
        @include from(960px) {
            padding-top: 2rem;
        }
    }
}
.header-logo  {
    
    img {
        padding: 0 1rem;
        margin: 0 auto 2rem;
        @include tablet {
            margin: 0 auto;
        }
        display: block;
        //height: calc(var(--header-inner-height) - 30px);
    }
}
.navbar-item {
    justify-content: center;
    text-align: center;
}
a.navbar-item:hover {
    background-color: #242424;
}

.has-addons {
    flex-wrap: wrap;

    .help {
        flex-basis: 100%;
    }
}

.navbar-start { // override 
    margin: 0 auto;
}


.tile {
    flex-grow: 0;
}

.tile.is-main {
    flex-grow: 1;
}

.help {
    border-radius: 4px;
    padding: calc(0.5em - 1px) 1em calc(0.5em - 1px) 1em;
}

.help.is-warning {
    color: #000000;
    background-color: #ffdd57;
    border-radius: 4px;
}

.help.is-danger {
    color: #ffffff;
    background-color: #f14668;
    border-radius: 4px;
}

.bulma-fa-mixin {
    @include fa(1rem, 2rem);
  }